<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Competitions{% endblock %}</title>

    <!-- SEO Metadata -->
    <meta
      name="description"
      content="Participate in various competitions and challenges organized by the IOIT ACM Student Chapter. Test your skills and win exciting prizes."
    />
    <meta
      name="keywords"
      content="IOIT ACM, ACM, competitions, challenges, hackathons, coding, programming, contests, prizes"
    />
    <meta name="author" content="IOIT ACM Student Chapter" />
    <meta name="robots" content="index, follow" />
    <meta name="language" content="English" />
    <meta name="theme-color" content="#007BFF" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="IOIT ACM" />
    <meta name="mobile-web-app-capable" content="yes" />

    <!-- Open Graph (OG) Tags -->
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="{% block og_title %}IOIT ACM Student Chapter{% endblock %}"
    />
    <meta
      property="og:description"
      content="{% block og_description %}Join the IOIT ACM Student Chapter to explore computing, innovation, and networking. Participate in events, workshops, and research collaborations.{% endblock %}"
    />
    <meta property="og:url" content="https://ioit.acm.org/" />
    <meta
      property="og:image"
      content="{% block og_image %}{{ url_for('static', filename='og-image.png') }}{% endblock %}"
    />
    <meta property="og:site_name" content="IOIT ACM" />
    <meta property="og:locale" content="en_US" />

    <!-- Twitter Card Metadata -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="{% block twitter_title %}IOIT ACM Student Chapter{% endblock %}"
    />
    <meta
      name="twitter:description"
      content="{% block twitter_description %}Explore the world of computing with the IOIT ACM Student Chapter. Join us for events, workshops, and networking opportunities.{% endblock %}"
    />
    <meta
      name="twitter:image"
      content="{% block twitter_image %}{{ url_for('static', filename='og-image.png') }}{% endblock %}"
    />
    <meta name="twitter:site" content="@IOITACM" />
    <meta name="twitter:creator" content="@IOITACM" />

    <!-- Favicon Configuration -->
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='favicon-96x96.png') }}"
      sizes="96x96"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="{{ url_for('static', filename='favicon.svg') }}"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ url_for('static', filename='apple-touch-icon.png') }}"
    />
    <link
      rel="manifest"
      href="{{ url_for('static', filename='site.webmanifest') }}"
    />

    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-Y6Z6G51Z27"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-Y6Z6G51Z27");
    </script>

    <!-- Stylesheets -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/tailwind.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
      integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- Scripts -->
    <script src="https://unpkg.com/htmx.org@1.9.2" defer></script>

    <!--import maps-->
    <script type="importmap">
      {
        "imports": {
          "three": "https://cdn.jsdelivr.net/npm/three@0.171.0/build/three.module.js",
          "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.171.0/examples/jsm/"
        }
      }
    </script>

    {% block head %}
    <!-- Additional head content can be injected here -->
    {% endblock %}
  </head>

  <body class="bg-gray-100 text-gray-800">
    <nav
      class="fixed top-4 left-1/2 -translate-x-1/2 w-11/12 max-w-7xl bg-gradient-to-r from-blue-800 to-blue-600 border border-white rounded-lg shadow-lg px-4 md:py-3 py-2 flex items-center justify-between z-10"
    >
      <button
        onclick="toggleNav()"
        class="text-white hover:bg-blue-500 p-2 rounded-lg transition-colors"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <line x1="3" y1="12" x2="21" y2="12"></line>
          <line x1="3" y1="6" x2="21" y2="6"></line>
          <line x1="3" y1="18" x2="21" y2="18"></line>
        </svg>
      </button>

      <span
        class="text-white font-medium text-lg md:text-3xl"
      >Team Recruitment 2025</span>

      <p class="text-white font-medium"></p>
    </nav>

    <!-- Side Menu -->
    <div
      id="sideMenuOverlay"
      class="fixed inset-0 bg-black bg-opacity-50 transition-opacity opacity-0 pointer-events-none z-50"
    >
      <div
        id="sideMenu"
        class="fixed inset-y-0 left-0 w-72 max-w-3xl bg-white transform transition-transform -translate-x-full overflow-y-auto no-scroll-bar"
      >
        <div class="p-4 flex justify-between items-center border-b">
          <h2 class="text-xl font-semibold">Menu</h2>
          <button
            onclick="toggleNav()"
            class="text-gray-500 hover:text-gray-700"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <line x1="18" y1="6" x2="6" y2="18"></line>
              <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
          </button>
        </div>

        <nav class="p-4 space-y-4 overflow-y-auto overflow-hidden h-full">
          <div>
            {% for item in [{'link': '/', 'text': 'IOIT ACM Home'}, {'link': '/gallery', 'text': 'Gallery'}, {'link':
            '/competitions', 'text': 'Competitions'}, {'link': '/leaderboard',
            'text': 'Leaderboard'}, {'link': '/feedback', 'text': 'Feedback'}]
            %}
            <a
              href="{{ item.link }}"
              class="block px-4 py-2 text-gray-700 hover:bg-blue-50 rounded-lg transition-colors"
              onclick="toggleNav()"
            >
              {{ item.text }}
            </a>
            {% endfor %}
          </div>

          <hr class="border-gray-300 my-4" />

          <div>
            {% for item in [{'link': '/competitions/bit-by-bit', 'text': 'Bit by
            Bit'}, {'link': '/competitions/bit-by-query', 'text': 'Bit by
            Query'}, {'link': '/competitions/ml-frontiers', 'text': 'ML
            Frontiers'}] %}
            <a
              href="{{ item.link }}"
              class="block px-4 py-2 text-gray-700 hover:bg-blue-50 rounded-lg transition-colors"
              onclick="toggleNav()"
            >
              {{ item.text }}
            </a>
            {% endfor %}
          </div>
        </nav>
      </div>
    </div>

    <!-- Content -->
    <main class="m-0 min-h-screen pt-20 md:pt-32 max-w-7xl mx-auto">
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %}
      <div class="flex justify-center items-center mb-4">
        <ul class="w-full max-w-md">
          {% for category, message in messages %}
          <li
            class="mb-2 flash-message p-4 text-black text-center font-semibold rounded-lg {% if category == 'success' %} bg-green-500 {% elif category == 'error' %} bg-red-400 {% else %} bg-gray-500 {% endif %}"
          >
            {{ message }}
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %} {% endwith %} {% block content %}

      <!-- Default content will be replaced here -->
      {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="bg-gray-900 text-gray-300">
      <!-- Main Content -->
      <div
        class="max-w-7xl mx-auto px-6 grid grid-cols-1 md:grid-cols-5 gap-8 py-12"
      >
        <!-- IOIT ACM Section -->
        <div class="md:col-span-2">
          <img
            src="{{ url_for('static', filename='img/assets/acm.png') }}"
            alt="IOIT ACM Logo"
            class="h-16 mb-4"
          />
          <p class="text-sm leading-relaxed">
            IOIT ACM Student Chapter is a part of ACM, the world’s largest
            educational and scientific computing society. Dedicated to fostering
            a community of innovation, collaboration, and excellence in
            technology.
          </p>
        </div>

        <!-- ACM Section -->
        <div class="md:col-span-2">
          <img
            src="{{ url_for('static', filename='img/assets/acm-logo.png') }}"
            alt="ACM Logo"
            class="h-16 mb-4"
          />
          <p class="text-sm leading-relaxed">
            ACM is the global leader in advancing computing as a science and
            profession. Our mission is to increase the impact and visibility of
            ACM activities worldwide.
          </p>
          <a
            href="https://dl.acm.org/"
            target="_blank"
            class="inline-block mt-4 text-blue-400 hover:text-blue-500 underline transition"
            >Explore ACM Digital Library</a
          >
        </div>

        <!-- Quick Links -->
        <div class="md:col-span-1 md:text-right">
          <h3 class="text-lg font-bold mb-4">Quick Links</h3>
          <ul class="space-y-2">
            <li>
              <a href="/membership" class="hover:text-white transition"
                >Memberships</a
              >
            </li>
            <li>
              <a href="/feedback" class="hover:text-white transition"
                >Feedback</a
              >
            </li>
            <li>
              <a href="/gallery" class="hover:text-white transition">Gallery</a>
            </li>
            <li>
              <a href="/events" class="hover:text-white transition">Events</a>
            </li>
            <li>
              <a href="/about" class="hover:text-white transition">About</a>
            </li>
            <li>
              <a
                href="https://www.ioittenet.com/"
                class="hover:text-white transition"
                >IOIT TENET</a
              >
            </li>
            <li>
              <a
                href="https://www.ioitmun.com/"
                class="hover:text-white transition"
                >IOIT MUN</a
              >
            </li>
          </ul>
        </div>
      </div>

      <!-- Social Links Section -->
      <div
        class="max-w-7xl mx-auto px-6 flex flex-col md:flex-row justify-between gap-5 md:gap-0 p-6"
      >
        <!-- Social Links on the Left -->
        <div class="flex space-x-6">
          <a
            href="https://m.facebook.com/ioit.acm/"
            class="hover:text-white transition"
            aria-label="Facebook"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="fab fa-facebook text-2xl"></i>
          </a>
          <a
            href="https://www.instagram.com/ioit__acm"
            class="hover:text-white transition"
            aria-label="Instagram"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="fab fa-instagram text-2xl"></i>
          </a>
          <a
            href="https://www.linkedin.com/company/ioit-acm/"
            class="hover:text-white transition"
            aria-label="LinkedIn"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="fab fa-linkedin text-2xl"></i>
          </a>
          <a
            href="https://x.com/IOIT_ACM"
            class="hover:text-white transition"
            aria-label="Twitter"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="fab fa-twitter text-2xl"></i>
          </a>
        </div>
      </div>

      <!-- Bottom Section -->
      <div class="border-t border-gray-700 py-6">
        <div class="w-full">
          <!-- Credits -->
          <div class="text-center">
            <p>© IOIT ACM Student Chapter, 2024</p>
          </div>
		            <div class="text-center">
            <p>
              Website built by
              <a
                target="_blank"
                class="text-blue-500 hover:underline"
                href="https://adimail.github.io"
                >Aditya Godse</a
              >
              &
              <a
                target="_blank"
                class="text-blue-500 hover:underline"
                href="https://swarooppatilx.github.io/"
                >Swaroop Patil</a
              >
            </p>
          </div>
        </div>
        </div>
      </div>
    </footer>

    <script>
      function toggleNav() {
        const overlay = document.getElementById("sideMenuOverlay");
        const menu = document.getElementById("sideMenu");

        if (overlay.classList.contains("opacity-0")) {
          overlay.classList.remove("opacity-0", "pointer-events-none");
          menu.classList.remove("-translate-x-full");
        } else {
          overlay.classList.add("opacity-0", "pointer-events-none");
          menu.classList.add("-translate-x-full");
        }
      }
    </script>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const messages = document.querySelectorAll(".flash-message");
        messages.forEach((message) => {
          setTimeout(() => {
            message.style.opacity = "0";
            setTimeout(() => message.remove(), 700);
          }, 5000);
        });
      });
    </script>
  </body>
</html>
