{% extends "base.html" %} {% block title %}Database Error{% endblock %} {% block
content %}
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap" rel="stylesheet">
<style>
  body {
    font-family: 'Nunito', sans-serif;
  }
</style>

<div class="flex items-center justify-center min-h-screen pt-16 pb-16 bg-gradient-to-br from-gray-100 to-blue-100 px-4">
  <div class="max-w-5xl w-full grid grid-cols-1 md:grid-cols-2 gap-10 items-center px-4 md:px-0">

    <div class="flex justify-center">
      <img src="{{ url_for('static', filename='errors/sql.png') }}"
           alt="A large crowd of diverse people figures gathered outside a maze, symbolizing request overload and limited access pathways."/>
    </div>

    
    <div class="text-center md:text-center">
      <h1 class="text-5xl md:text-6xl font-extrabold text-gray-800 mb-4"  style="font-family: 'Orbitron', sans-serif;">SQL Error!</h1>

      <p class="text-lg md:text-2xl text-gray-700 mb-1">
        We're currently experiencing a database issue.
      </p>
      <p class="text-lg md:text-2xl text-gray-700 mb-4 leading-relaxed">
        Our technical team is working diligently to resolve it.
      </p>

      <p class="text-sm text-gray-500 mb-10 md:mb-6">
        Please check back shortly — we appreciate your patience.</p>

      <p class="mb-6 text-sm text-gray-600">Error Details: {{ details }}</p>

      <div class="flex justify-center">
        <a
          href="/"
          class="bg-blue-400 hover:bg-blue-500 text-gray-900 font-semibold px-6 py-2 rounded-lg shadow-md transition-transform transform hover:no-underline backdrop-blur-sm text-sm md:text-base"
        >
          Go Back Home
        </a>
      </div>
    </div>

  </div>
</div>
{% endblock %}
