body::-webkit-scrollbar {
  width: 0px;
}

::selection {
  background-color: #46c4ff;
  color: #323232;
}

.parallax {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform-origin: center;
}

@media (min-width: 768px) {
  .parallax {
    background-attachment: fixed;
  }
}

@media (max-width: 767px) {
  .parallax {
    background-attachment: scroll;
  }
}

.gallery-columns {
  column-count: 3;
}

@media (max-width: 768px) {
  .gallery-columns {
    column-count: 2;
  }
}

h2 {
  font-size: 1.75rem;
  font-weight: 600;
}

a {
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 480px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.marquee {
  overflow: hidden;
  white-space: nowrap;
}
.marquee-content-slow {
  display: inline-block;
  animation: marquee 490s linear infinite;
}

/* Marquee effect for images on footer */
.image-marquee-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: #f0f0f0;
  margin: 0px;
}

.image-marquee-content {
  display: flex;
  animation: marquee 30s linear infinite;
}

.image-marquee-content img {
  margin: 0px;
}

@keyframes rotate {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}

.animate-rotate {
  animation: rotate 10s linear infinite;
}
