<section class="grid md:gap-8 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mb-20">
  <a href="/competitions/bit-by-bit" class="md:p-6 p-0 py-6 group overflow-hidden hover:no-underline">
    <div>
      <div class="flex justify-between items-center mb-4">
        <h3
          class="text-2xl font-semibold text-blue-600 group-hover:text-blue-900 transition-all"
        >
          Bit by Bit
        </h3>
        <i
          class="fas fa-arrow-right text-blue-600 group-hover:-rotate-45 group-hover:scale-110 transition-all"
        ></i>
      </div>
      <div class="overflow-hidden rounded-xl mb-6 border">
        <img
          src="{{ url_for('static', filename='img/competitions/banner/bbb.jpeg') }}"
          alt="Bit by Bit"
          class="w-full md:h-64 h-40 object-cover transition-transform duration-300 group-hover:scale-110"
        />
      </div>
      <p class="text-gray-600 md:text-lg text-sm">
        <strong>Bit by Bit</strong> is the traditional ACM IOIT competition conducted every month. It features challenging algorithmic problems with exciting prizes for the top performers. This is your chance to compete with the best minds in competitive programming.
      </p>
    </div>
  </a>

  <a
    href="/competitions/bit-by-query"
    class="md:p-6 p-0 py-6 group overflow-hidden hover:no-underline"
  >
    <div>
      <div class="flex justify-between items-center mb-4">
        <h3
          class="text-2xl font-semibold text-blue-600 group-hover:text-blue-900 transition-all"
        >
          Bit by Query
        </h3>
        <i
          class="fas fa-arrow-right text-blue-600 group-hover:-rotate-45 group-hover:scale-110 transition-all"
        ></i>
      </div>
      <div class="overflow-hidden rounded-xl mb-6 border">
        <img
          src="{{ url_for('static', filename='img/competitions/banner/bbq.jpeg') }}"
          alt="Awareness Drive"
          class="w-full md:h-64 h-40 object-cover transition-transform duration-300 group-hover:scale-110"
        />
      </div>
      <p class="text-gray-600 md:text-lg text-sm">
        <strong>Bit by Query</strong> is a DBMS-themed contest focusing on SQL challenges. Test your skills in crafting queries, optimizing database operations, and solving real-world problems through SQL.
      </p>
    </div>
  </a>

  <a href="/competitions/bit-by-keystroke" class="md:p-6 p-0 py-6 group overflow-hidden hover:no-underline">
    <div>
      <div class="flex justify-between items-center mb-4">
        <h3
          class="text-2xl font-semibold text-blue-600 group-hover:text-blue-900 transition-all"
        >
          Bit by Keystroke
        </h3>
        <i
          class="fas fa-arrow-right text-blue-600 group-hover:-rotate-45 group-hover:scale-110 transition-all"
        ></i>
      </div>
      <div class="overflow-hidden rounded-xl mb-6 border">
        <img
          src="{{ url_for('static', filename='img/competitions/banner/bbk.jpeg') }}"
          alt="Speaker Sessions"
          class="w-full md:h-64 h-40 object-cover transition-transform duration-300 group-hover:scale-110"
        />
      </div>
      <p class="text-gray-600 md:text-lg text-sm"><strong>Bit by Keystroke</strong> is a competitive typing challenge that tests speed, accuracy, and mental focus through code typing, error correction, and memory-based rounds.The competition emphasizes precision and problem-solving across structured technical tasks.</p>
    </div>
  </a>
  <a href="/competitions/bit-by-design" class="md:p-6 p-0 py-6 group overflow-hidden hover:no-underline">
    <div>
      <div class="flex justify-between items-center mb-4">
        <h3
          class="text-2xl font-semibold text-blue-600 group-hover:text-blue-900 transition-all"
        >
          Bit by Design
        </h3>
        <i
          class="fas fa-arrow-right text-blue-600 group-hover:-rotate-45 group-hover:scale-110 transition-all"
        ></i>
      </div>
      <div class="overflow-hidden rounded-xl mb-6 border">
        <img
          src="{{ url_for('static', filename='img/competitions/banner/bbd.jpeg') }}"
          alt="Speaker Sessions"
          class="w-full md:h-64 h-40 object-cover transition-transform duration-300 group-hover:scale-110"
        />
      </div>
      <p class="text-gray-600 md:text-lg text-sm"><strong>Bit by Design</strong> is a high-energy online design competition that challenges participants to think fast, design smart, and push their creative limits. Within a limited time, designers respond to unique prompts and transform ideas into compelling web experiences - testing creativity, clarity, and problem-solving under pressure.</p>
    </div>
  </a>
</section>


{% include "competitions/avaliable-leaderboards.html" %}



<section class="my-20">
  <h2 class="text-2xl font-semibold mb-6 text-gray-800 sm:text-3xl">Coming Soon</h2>
  <div>
    <h3 class="text-lg sm:text-xl font-semibold mb-2">
      Future Events & Competitions
    </h3>
    <p class="text-sm sm:text-base leading-relaxed">
      Stay tuned for more exciting events and competitions. We have a lot in store!
    </p>
  </div>
</section>

