<div class="mt-12">
    <h2 class="text-3xl md:4xl font-bold text-center mb-8 text-gray-800">Flagship Events</h2>
    <div class="grid container gap-6 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mt-10 cursor-pointer">
        <!-- IOIT TENET 2025 -->
        <div
            class="bg-white p-6 shadow-2xl hover:shadow-3xl transition-all duration-300 ease-in-out video-hover-group group">
            <div class="flex flex-col items-center">
                <div
                    class="md:w-64 md:h-64 h-44 w-full rounded-lg mb-4 shadow-lg overflow-hidden relative cursor-pointer">
                    <!-- Image -->
                    <img src="https://ioit.acm.org/tenet/25/gallery/img016.webp" alt="IOIT TENET 2025"
                        class="h-full w-full object-cover absolute" loading="lazy" />
                    <!-- Video -->
                    <video data-src="/static/vid/tenet25.mp4" muted loop
                        class="h-full w-full object-cover absolute opacity-0 group-hover:opacity-100 transition-opacity duration-300 lazy-video">
                    </video>
                </div>
                <div class="text-center">
                    <a href="https://ioittenet.com/"
                        class="text-2xl font-semibold text-blue-900 inline-block hover:no-underline">IOIT TENET
                        2025</a>
                    <p class="text-gray-800 mt-2">
                        The second edition of TENET hosted by AISSMS IOIT ACM student chapter,
                        featuring technology, entrepreneurship, global diplomacy, and e-sports.
                    </p>
                    <a href="https://ioittenet.com/"
                        class="text-blue-800 mt-4 inline-block px-3 py-2 border border-blue-900 hover:bg-gray-200 rounded-lg transition-all hover:no-underline">Learn
                        More &rarr;</a>
                </div>
            </div>
        </div>
        <!-- TENET HACK 2025 -->
        <div
            class="bg-white p-6 shadow-2xl hover:shadow-3xl transition-all duration-300 ease-in-out video-hover-group group">
            <div class="flex flex-col items-center">
                <div
                    class="md:w-64 md:h-64 h-44 w-full rounded-lg mb-4 shadow-lg overflow-hidden relative cursor-pointer">
                    <!-- Image -->
                    <img src="https://ioit.acm.org/tenet/25/gallery/img025.webp" alt="TENET HACK 2025"
                        class="h-full w-full object-cover absolute" loading="lazy" />
                    <!-- Video -->
                    <video data-src="/static/vid/hack25.mp4" muted loop
                        class="h-full w-full object-cover absolute opacity-0 group-hover:opacity-100 transition-opacity duration-300 lazy-video">
                    </video>
                </div>
                <div class="text-center">
                    <a href="https://hack.ioittenet.com/"
                        class="text-2xl font-semibold text-blue-900 inline-block hover:no-underline">TENET HACK
                        2025</a>
                    <p class="text-gray-800 mt-2">
                        A 12-hour intensive hackathon inspired by The Matrix where developers
                        collaborated to push technological boundaries and build innovative solutions.
                    </p>
                    <a href="https://hack.ioittenet.com/"
                        class="text-blue-800 mt-4 inline-block px-3 py-2 border border-blue-900 hover:bg-gray-200 rounded-lg transition-all hover:no-underline">Learn
                        More &rarr;</a>
                </div>
            </div>
        </div>
        <!-- IOIT TENET 2024 -->
        <div
            class="bg-white p-6 shadow-2xl hover:shadow-3xl transition-all duration-300 ease-in-out video-hover-group group">
            <div class="flex flex-col items-center">
                <div
                    class="md:w-64 md:h-64 h-44 w-full rounded-lg mb-4 shadow-lg overflow-hidden relative cursor-pointer">
                    <!-- Image -->
                    <img src="https://ioit.acm.org/tenet/gallery/24/drone/12.jpeg" alt="IOIT TENET 2024"
                        class="h-full w-full object-cover absolute" loading="lazy" />
                    <!-- Video -->
                    <video data-src="/static/vid/tenet24.mp4" muted loop
                        class="h-full w-full object-cover absolute opacity-0 group-hover:opacity-100 transition-opacity duration-300 lazy-video">
                    </video>
                </div>
                <div class="text-center">
                    <a href="https://ioittenet.com/"
                        class="text-2xl font-semibold text-blue-900 inline-block hover:no-underline">IOIT TENET
                        2024</a>
                    <p class="text-gray-800 mt-2">
                        The inaugural edition of TENET hosted by AISSMS IOIT ACM student chapter,
                        featuring technology, entrepreneurship, global diplomacy, and e-sports.
                    </p>
                    <a href="https://ioittenet.com/"
                        class="text-blue-800 mt-4 inline-block px-3 py-2 border border-blue-900 hover:bg-gray-200 rounded-lg transition-all hover:no-underline">Learn
                        More &rarr;</a>
                </div>
            </div>
        </div>
        <!-- IOIT MUN 2025 -->
        <div
            class="bg-white p-6 shadow-2xl hover:shadow-3xl transition-all duration-300 ease-in-out video-hover-group group">
            <div class="flex flex-col items-center">
                <div
                    class="md:w-64 md:h-64 h-44 w-full rounded-lg mb-4 shadow-lg overflow-hidden relative cursor-pointer">
                    <!-- Image -->
                    <img src="https://mun.ioittenet.com/img/content/mun.jpg" alt="IOIT MUN 2024"
                        class="h-full w-full object-cover absolute" loading="lazy" />
                    <!-- Video -->
                    <video data-src="/static/vid/mun25.mp4" muted loop
                        class="h-full w-full object-cover absolute opacity-0 group-hover:opacity-100 transition-opacity duration-300 lazy-video">
                    </video>
                </div>
                <div class="text-center">
                    <a href="https://mun.ioittenet.com/"
                        class="text-2xl font-semibold text-blue-900 inline-block hover:no-underline">IOIT MUN
                        2025</a>
                    <p class="text-gray-800 mt-2">
                        Third edition of IOIT MUN hosted in October 2025 by AISSMS IOIT ACM,
                        featuring committees addressing diverse global issues and diplomatic bodies.
                    </p>
                    <a href="https://mun.ioittenet.com/"
                        class="text-blue-800 mt-4 inline-block px-3 py-2 border border-blue-900 hover:bg-gray-200 rounded-lg transition-all hover:no-underline">Learn
                        More &rarr;</a>
                </div>
            </div>
        </div>
        <!-- IOIT MUN 2024 -->
        <div
            class="bg-white p-6 shadow-2xl hover:shadow-3xl transition-all duration-300 ease-in-out video-hover-group group">
            <div class="flex flex-col items-center">
                <div
                    class="md:w-64 md:h-64 h-44 w-full rounded-lg mb-4 shadow-lg overflow-hidden relative cursor-pointer">
                    <!-- Image -->
                    <img src="https://ioit.acm.org/tenet/mun/2024/9.jpeg" alt="IOIT MUN 2024"
                        class="h-full w-full object-cover absolute" loading="lazy" />
                    <!-- Video -->
                    <video data-src="/static/vid/mun24.mp4" muted loop
                        class="h-full w-full object-cover absolute opacity-0 group-hover:opacity-100 transition-opacity duration-300 lazy-video">
                    </video>
                </div>
                <div class="text-center">
                    <a href="https://mun.ioittenet.com/"
                        class="text-2xl font-semibold text-blue-900 inline-block hover:no-underline">IOIT MUN
                        2024</a>
                    <p class="text-gray-800 mt-2">
                        Second edition of IOIT MUN hosted in October 2024 by AISSMS IOIT ACM,
                        featuring committees addressing diverse global issues and diplomatic bodies.
                    </p>
                    <a href="https://mun.ioittenet.com/"
                        class="text-blue-800 mt-4 inline-block px-3 py-2 border border-blue-900 hover:bg-gray-200 rounded-lg transition-all hover:no-underline">Learn
                        More &rarr;</a>
                </div>
            </div>
        </div>
        <!-- IOIT MUN 2023 -->
        <div
            class="bg-white p-6 shadow-2xl hover:shadow-3xl transition-all duration-300 ease-in-out video-hover-group group">
            <div class="flex flex-col items-center">
                <div
                    class="md:w-64 md:h-64 h-44 w-full rounded-lg mb-4 shadow-lg overflow-hidden relative cursor-pointer">
                    <!-- Image -->
                    <img src="https://ioit.acm.org/tenet/gallery/24/mun-closing/15.jpeg" alt="IOIT MUN 2023"
                        class="h-full w-full object-cover absolute" loading="lazy" />
                    <!-- Video -->
                    <video data-src="/static/vid/mun23.mp4" muted loop
                        class="h-full w-full object-cover absolute opacity-0 group-hover:opacity-100 transition-opacity duration-300 lazy-video">
                    </video>
                </div>
                <div class="text-center">
                    <a href="https://mun.ioittenet.com/"
                        class="text-2xl font-semibold text-blue-900 inline-block hover:no-underline">IOIT MUN
                        2023</a>
                    <p class="text-gray-800 mt-2">
                        Inaugural edition of IOIT MUN hosted by AISSMS IOIT ACM with 5 committees,
                        where students role-play as diplomats addressing global issues.
                    </p>
                    <a href="https://mun.ioittenet.com/"
                        class="text-blue-800 mt-4 inline-block px-3 py-2 border border-blue-900 hover:bg-gray-200 rounded-lg transition-all hover:no-underline">Learn
                        More &rarr;</a>
                </div>
            </div>
        </div>
    </div>
</div>