{% extends "base.html" %} {% block title %} Gallery {% endblock %} {% block
content %}
<div class="min-h-screen bg-gray-100 flex items-center justify-center">
  <div class="text-center p-8 bg-white shadow-lg rounded-lg">
    <h1 class="text-3xl font-bold text-gray-800 mb-4">
      Under Active Development
    </h1>
    <p class="text-xl text-gray-600 mb-6">Comeback soon!</p>
    <p class="text-lg text-gray-700">
      For more details, contact
      <a href="mailto:adimail2404@gmail.com" class="text-blue-500 underline"
        >Aditya Godse</a
      >.
    </p>
  </div>
</div>
{% endblock %}
